::-webkit-scrollbar {
    display: none;
}

.body{
    background-image: url('Images/Backgrounds/Background.png'); /* Sostituisci 'path/to/your/image.jpg' con il percorso dell'immagine */
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    
}

/* Box principale del menù*/
.menu{
    padding:70px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius:20%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    transition:all 0.5s;
}
.menu:hover{
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
}

/* Div dove sono contenute le voci del menù*/
.voice_section{
    margin:50px;
    display: grid;
    justify-content: center; 
    align-items: center;     
}

.menu_voice{
    color:gray;
    margin-bottom:5px;
    font-size:25px;
    font-family:'Franklin Gothic Medium';
    transition:all 0.3s;
    text-decoration:none;
}
.menu_voice:hover{
    cursor: pointer;
    color: rgb(135, 187, 207);
    margin-bottom:7px;
    font-family:'Franklin Gothic Medium';
    text-decoration:none;
    
}

.social_section{
    color:white;
    display:grid;
    grid-template-columns: 50px 20px 20px;
    justify-content: center; 
    align-items: center; 
}

.social_img:hover{
    cursor:pointer;
}
