.body{
    margin-top:50px;
    margin-bottom:100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.shop_layer{
    margin-top:20px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
}
.shop_box{
    font-family:'Franklin Gothic Medium';
    display:grid;
    padding:20px;
    justify-content: center; 
    align-items: center; 
    background-color: black;
    margin-right:20px;
}

.image{
    background-color: white;
    height:80px;
    width:80px;
    margin-bottom:30px;
}
.description{
    color:white;
    
    margin-bottom:30px;
}

.price{
    color:white;
}